.back_drop {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #aaaaaa80;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_wrap {
    width: 400px;
    height: 600px;
    background-color: #efefa0;
}